<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <div class="alert alert-warning m-4">Devi effettuare l'accesso per vedere questa pagina. <a href="/">Vai al Login</a></div>
                    }
                    else
                    {
                        <div class="alert alert-danger m-4">Non hai i permessi per accedere a questa sezione.</div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>